*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'poppins';
    height: 99.3vh;
}

.visible{
    visibility: visible;
    opacity: 1;
}

.modal__container{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 16px rgb(110, 110, 110);
    padding: 3em 2em;
    border-radius: .7em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.container div{
    flex: 1;
}

video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.part1{
    position: relative;
    height: 100%;
}

.part1 h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    width: 16em;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: rgb(0, 0, 0) 0 0 4px;
}

.part2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{
    text-align: center;
    font-size: 2.1em;
    color: rgb(67, 39, 11);
    margin-bottom: 1em;
}

.modal__input {
    position: relative;
    margin-bottom: 30px;
}


.modal__title{
    color: rgb(63, 63, 63);
}

label{
    position: absolute;
    left: 10px;
    top: 10px;
    color: rgb(63, 63, 63);
    cursor: auto;
    transition: .3s;
    background-color: #fff;
    padding: 0 5px;
}


.form__input{
    padding: .7em .7em;
    width: 20em;
    border: solid 1px rgb(209, 209, 209);
    border-radius: 5px;
    outline: none;
}


.form__input{
    font-size: 16px;
}

.modal__button{
    margin-top: 1em;
}

.btn2{
    width: 100%;
    background-color: rgb(21, 93, 180);
    padding: .7em 0;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
}

.form__input:focus + .modal__label{
    top: -9px;
    left: 10px;
    color: rgb(34, 62, 187);
    font-size: 12px;
    z-index: 10;
    font-weight: 600;
}

.form__input:not(:placeholder-shown).form__input:not(:focus)+ .modal__label{
    top: -9px;
    left: 10px;
    color: rgb(34, 62, 187);
    font-size: 12px;
    z-index: 10;
    font-weight: 600;
}

.form__input:focus{
    border: 2px solid #1A73E8;
    outline: none;
    outline-offset: none;
}

.text__link {
    margin-top: 1.5em;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

.text__link a{
    text-decoration: none;
    color: #1A73E8;
}

.modal__btn{
    margin-top: 2em;
    padding: .7em;
    background-color: #6688b4;
    outline: none;
    color: white;
    border: none;
    border-radius: .3em;
    font-size: .9em;
    font-family: 'poppins';
    cursor: pointer;
}

.modal__button__div{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width: 1016px) {
    .part1{
        display: none;
    }
}